@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow|Grenze&display=swap');

.main-container {
    margin-top: 100px;
    margin-bottom: 100px;
}

body {
    background-color: #f0f0f0;
}

a, button {
    font-family: 'Archivo Narrow', sans-serif;
}

.gray-bg {
    background-color: #f2f2f2;
}

.text-align-center {
    text-align: center;
}

.nav-item {
    color: black;
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 20px;
    padding: 10px 20px;
}

.navigation-container {
    text-align: center;
    background-color: #ededed;
    padding: 10px;
    margin-bottom: 30px;;
}

.form-container-auth {
    max-width: 500px;
    margin: auto;
    margin-top: 100px;;
}

.message {
    color: white;
    background-color: red;
    padding: 20px;
}

.user-info {
    padding: 10px;
}

.nav-item {
    padding: 0 20px;
}

.navbar-nav {
    margin: auto;
}

.item {
    padding: 10px 0;
    color: white;
    margin: auto;
    text-align: center;
    border: 1px solid white;
}

.menu_container {
    background-color: black;
}

.item a {
    color: white;
}

.black-bg-btn {
    background-color: black;
    color: white;
}

.black-bg-btn:hover {
    background-color: black;
    color: white;
}

.auth-name {
    font-style: italic;
    color: gray;
}

.news-title {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    padding: 2px;
    background: black;
    color: white;
    margin: 10px 0;
    font-family: 'Grenze', serif;
    border-bottom: 6px solid #d92a24;
}

.news-body {
    padding: 30px;
    margin-top: 20px;
    box-shadow: 0 0 12px -5px #b0b0b0;
    background: white;
    border-bottom: 5px solid #d92a24;
    text-align: justify;
}

.news-image {
    margin-top: 20px;
    text-align: center;
}

.tag-container {
    margin-top: 10px;
    background-color: #d92a24;
    color: white;
    box-shadow: 0 0 9px -5px #000;
}

.tag-item {
    padding: 8px;
}

.news-university {
    margin-top: 30px;
    background: #000;
    padding: 6px 0;
    color: white;
    text-align: center;
    border-bottom: 5px solid #d92a24;
}

.container {
    max-width: 1400px;
}

.search-form {
    margin-top: 40px;
    text-align: center;
    background-color: white;
    padding: 40px;
    padding-top: 50px;
    box-shadow: 0 0 12px -5px #b0b0b0;
    border-bottom: 5px solid #d72424;
}

.search-form-input {
    max-width: 500px;
    margin: auto;
}

.search-result {
    margin-top: 50px;
}

.news-container {
    margin-bottom: 20px;
    background: white;
    padding: 30px;
}

.news-title-search {
    text-align: center;
    border: 5px double #6b6b6b;
    padding: 10px;
    margin-bottom: 15px;
    color: #6b6b6b;
    font-family: 'Grenze', serif;
    text-transform: uppercase;
    font-size: 20px;
}

.button-pad {
    text-align: center;
    padding: 10px;
}

.left-pad {
    padding-left: 10px;
}

.display-block {
    display: inline-block;
}

.comment {
    padding: 15px;
    margin-bottom: 20px;
    background: wheat;
    border-bottom: 2px solid #deb569;
}

.comment-container {
    margin-top: 50px;
}

.comment-body {
    padding-bottom: 20px;
}

.comment-author {
    font-style: italic;
    color: gray;
}

.comment-date {
    color: gray;
}

.comment-form {
    margin-top: 100px;
    box-shadow: 0 0 12px -5px #b0b0b0;
    padding: 30px;
    background: white;
}

.box-shadow {
    box-shadow: 0 0 12px -5px #b0b0b0;
}

.nav-link {
    color: #d72424;
    font-size: 25px;
}

.navbar-light
.navbar-nav .active >
.nav-link,
.navbar-light
.navbar-nav
.nav-link.active,
.navbar-light
.navbar-nav
.nav-link.show,
.navbar-light
.navbar-nav
.show > .nav-lin {
    color: #d72424 !important;
    font-size: 25px;
    font-family: 'Grenze', serif;
}

.university-container {
    padding: 30px;
    box-shadow: 0 0 12px -5px #b0b0b0;
    background: white;
}

.title {
    font-family: 'Grenze', serif;
    color: #6b6b6b;
}

.card {
    border: none !important;
    box-shadow: 0 0 12px -5px #b0b0b0 !important;
    margin: auto;
}

.admin-body {
    padding: 30px;
    box-shadow: 0 0 12px -5px #b0b0b0;
    background: white;
}

.page-title {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 20px;
    margin-bottom: 20px;
    font-family: 'Grenze', serif;
}

.card-back {
    background: #ffffff;
    padding: 30px 40px;
}

img {
    max-width: 600px !important;
}

.message-container {
    font-size: 40px;
    text-align: center;
    color: #b6b3b3;
    font-family: 'Archivo Narrow', sans-serif;
}

.color-red {
    color: red;
}

.white {
    color: #ffffff;
}

.card-width {
    margin-bottom: 30px;
}

.mar-top-32 {
    margin-top: 32px;
}

.max-w-400 {
    max-width: 400px;
}

.mar-bottom-30 {
    margin-bottom: 30px;
}

.card-width {
    width: 18rem;
}

.display-none {
    display: none;
}

.card-img-top {
    height: 218px;
}

.welcome {
    margin-right: 10px;
}

.active {
    margin-left: 60px;
}

.tag-container-form div {
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    background: #d72424;
    margin-right: 10px;
    margin-bottom: 10px;
}

.pagination {
    display: inline-block;
}

.pagination-container {
    text-align: center;
}